@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: "KarlaRegular";
  src: url("./assets/fonts/Karla-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KarlaBold";
  src: url("./assets/fonts/Karla-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "KarlaSemiBold";
  src: url("./assets/fonts/Karla-SemiBold.ttf") format("truetype");
}

@theme {
  --font-karla: "KarlaRegular", sans-serif;
  --font-karla-bold: "KarlaBold", sans-serif;
  --font-karla-semi-bold: "KarlaSemiBold", sans-serif;
  --color-primary: #e8492a;
  --color-background: #d4cfd6;
  --color-secondary: #17181c;
  --color-secondary-text: #d4cfd6;
}

body {
  font-family: sans-serif;
  font-size: 1.5rem;
}
